{% extends 'WilsonCorpComptabiliteFraisBundle::base.html.twig' %}

{% block body -%}
    <h1>LigneFraisForfait creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('lignefraisforfait') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
